<div class="chatrooms-app">
    <div class="chatrooms">
        <div class="header">
            <input class="filter" type="text" placeholder="Type here to search.."/>
        </div>
        <div class="chatlist">
            <div class="chatlist-item">
               <div class="chatlist-item-member left">E</div>
               <div class="chatlist-item-member middle">
                   <span class="title">Erric Hoffman</span>
                   <span class="subtitle">Checkout this new update to...</span>
               </div>
               <div class="chatlist-item-member right">
                   9:10 PM
               </div>
            </div>
            <div class="chatlist-item selected">
                <div class="chatlist-item-member left">S</div>
                <div class="chatlist-item-member middle">
                    <span class="title">Steve Wolf</span>
                    <span class="subtitle">Hey, just stumbled upon...</span>
                </div>
                <div class="chatlist-item-member right">
                    9:12 PM
                </div>
            </div>
            <div class="chatlist-item">
                <div class="chatlist-item-member left">B</div>
                <div class="chatlist-item-member middle">
                    <span class="title">Ben Cline</span>
                    <span class="subtitle">Checkout this new update to...</span>
                </div>
                <div class="chatlist-item-member right">
                    9:10 PM
                </div>
                </div>
        </div>
    </div>
    <div class="conversations">
        <div class="header conversations-header">
            <div class="avatar">S</div>
            <div class="chat-title">
                Steve Hoffman
                <!-- <span class="members">10</span> -->
            </div>
        </div>
        <div class="conversations-body">
            <div class="conversations-list">
                <div class="conversations-list-item theirs">
                    <div class="message">
                        This is nice. Let's do this.
                        <span class="timestamp">9:12 PM</span>
                    </div>
                </div>
                <div class="conversations-list-item mine">
                    <div class="message">
                        I'm cool with this.
                        <span class="timestamp">9:13 PM</span>
                    </div>
                </div>
            </div>
            <div class="conversations-keypad">
                <input class="keypad-text" type="text" placeholder="Write something..."/>
            </div>
        </div>
        
    </div>
    <div class="chatrooms">
        <div class="header all-chat-rooms-header">
            <span>Chat Rooms</span>
            <button class="chatrooms-btn">+ New Chat Room</button>
        </div>
        <div class="chatlist">
            <div class="chatlist-item">
                <div class="chatlist-item-member left">E</div>
                <div class="chatlist-item-member middle-2">
                    Erric Hoffman <span class="member-count">12</span>
                </div>
                <div class="chatlist-item-member right">
                    <button class="chatrooms-btn chatrooms-btn-sm">Join</button>
                </div>
            </div>
            <div class="chatlist-item">
                <div class="chatlist-item-member left">E</div>
                <div class="chatlist-item-member middle-2">
                    Erric Hoffman
                </div>
                <div class="chatlist-item-member right">
                    9:10 PM
                </div>
            </div>
            <div class="chatlist-item">
                <div class="chatlist-item-member left">E</div>
                <div class="chatlist-item-member middle-2">
                    Erric Hoffman
                </div>
                <div class="chatlist-item-member right">
                    9:10 PM
                </div>
            </div>
        </div>
    </div>
</div>
